.btn {
    @include display-inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    height: 4rem;
    width: auto;
    min-width: 200px;

    &.btn-small {
        min-width: 100px;
        height: 2rem;
        .btn-text {
            font-size: $font-size-small;
        }
    }

    &.btn-large {
        min-width: 300px;
        height: 5rem;
        .btn-text {
            font-size: $font-size-large;
        }
    }
    &.with-icon-left {
        justify-content: flex-start;
        .btn-icon {
            @include reset;
            margin-right: 10px;
            order: -1;
        }
    }

    &.with-icon-right {
        justify-content: space-between;
        .btn-icon {
            @include reset;
            margin-right: 0px;
            margin-left: 10px;
            order: 2;
        }
    }

    &.icon-only {
        min-width: 0px;
        .btn-icon {
            @include reset;
            margin-right: 0px;
        }
    }
}

.btn-text {
    @include reset;
    color: color("white");
}

.btn-primary {
    @include block-bg;
    background-color: color(primary-color);
    border-color: color(primary-color, darkest);
    &.hover, &:hover {
        background-color: color(primary-color, darker);
    }
}

.btn-success {
    @include block-bg;
    background-color: color(success-color);
    border-color: color(success-color, darker);
    &.hover, &:hover {
        background-color: color(success-color, darker);
    }
}

.btn-warning {
    @include block-bg;
    color: color("white");
    background-color: color(warning-color);
    border-color: color(warning-color, darker);
    &.hover, &:hover {
        background-color: color(warning-color, darker);
    }
}

.btn-alert {
    @include block-bg;
    background-color: color(alert-color);
    border-color: color(alert-color, darker);
    &.hover, &:hover {
        background-color: color(alert-color, darker);
    }
}

.btn-outline {
    @include block-bg;
    background-color: transparent !important;
}
