@mixin btn-bg {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.btn {
    @include display-inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    height: 4rem;
    width: auto;
    min-width: 200px;

    &.btn-small {
        min-width: 100px;
        height: 2rem;
        .btn-text {
            font-size: $font-size-small;
        }
    }

    &.btn-large {
        min-width: 300px;
        height: 5rem;
        .btn-text {
            font-size: $font-size-large;
        }
    }
}

.btn-text {
    @include reset;
    color: color("white");
}

.btn-primary {
    @include btn-bg;
    background-color: color(primary-color);
    border-color: color(primary-color, darkest);
    &.hover, &:hover {
        background-color: color(primary-color, darker);
    }
}

.btn-success {
    @include btn-bg;
    background-color: color(success-color);
    border-color: color(success-color, darker);
    &.hover, &:hover {
        background-color: color(success-color, darker);
    }
}

.btn-warning {
    @include btn-bg;
    color: color("white");
    background-color: color(warning-color);
    border-color: darken(color(warning-color), 15%);
    &.hover, &:hover {
        background-color: darken(color(warning-color),15%);
    }
}

.btn-alert {
    @include btn-bg;
    background-color: color(alert-color);
    border-color: darken(color(alert-color), 15%);
    &.hover, &:hover {
        background-color: darken(color(alert-color),15%);
    }
}

.btn-outline {
    @include btn-bg;
    background-color: transparent !important;
}
