// Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Base colors definition
$pink: #FD60B4;
$blue: #98C7FB;
$orange: #FEC36D;
$lime: #DBDE76;
$purple: #9E89F3;
$red: #FF6E6B;
$aqua: #49D0BE;
$violet: #D985EB;
$flash-pink: #F800FF;
$flash-green: #00FF3B;

// Grays.
// The number represents the color brightness.
// The higher the number, the lighter the color
$gray-10: #11171A;
$gray-20: #263034;
$gray-35: #485459;
$gray-50: #6E7A80;
$gray-60: #879399;
$gray-70: #A1ADB3;
$gray-80: #B8C6CC;
$gray-85: #C5D3D9;
$gray-90: #D8E2E6;
$gray-95: #EBF0F2;


// Color Wrapper
// - - - - - - - - - - - - - - - - - - - - - - - - -
// We use these for the name of the classes
// and for all other styles in the document

// Key Color wrappers
$colors: (
    'light-gray': $gray-95,
    'medium-gray': $gray-80,
    'dark-gray': $gray-35,
    'black': $gray-10,
    'white': #ffffff,

    'success-color': $aqua,
    'warning-color': $orange,
    'alert-color': $red,

    'notes-color': $flash-pink,
    'bounding-box-color': $flash-green,

    'primary-color' : (
        'base': $blue,
        'lighter': lighten($blue,15%),
        'lightest': lighten($blue,30%),
        'darker': darken($blue, 15%),
        'darkest': darken($blue, 50%)
    ),
    'secondary-color' : (
        'base':$orange,
        'lighter': lighten($orange,15%),
        'lightest': lighten($orange,30%),
        'darker': darken($orange, 15%),
        'darkest': darken($orange, 50%)
    ),
    'tertiary-color' : (
        'base': $violet,
        'lighter': lighten($violet,15%),
        'lightest': lighten($violet,30%),
        'darker': darken($violet, 15%),
        'darkest': darken($violet, 50%)
    ),
    'primary-accent' : (
        'base': $pink,
        'lighter': lighten($pink,15%),
        'lightest': lighten($pink,30%),
        'darker': darken($pink, 15%),
        'darkest': darken($pink, 50%)
    ),
    'secondary-accent' : (
        'base': $aqua,
        'lighter': lighten($aqua,15%),
        'lightest': lighten($aqua,30%),
        'darker': darken($aqua, 15%),
        'darkest': darken($aqua, 50%)
    ),
    'tertiary-accent' : (
        'base': $lime,
        'lighter': lighten($lime,15%),
        'lightest': lighten($lime,30%),
        'darker': darken($lime, 15%),
        'darkest': darken($lime, 50%)
    )
);

// - - - - - - - - - - - - - - - - - - - - - - - - -
// Utility classes for Sketch
// - - - - - - - - - - - - - - - - - - - - - - - - -

@each $color-name, $color-value in $colors {
    @if (type-of($color-value) == color) {
        .#{$color-name}{
        color: $color-value !important;
        background-color: $color-value !important;
        }
    } @else {
        @each $color-variant, $color-variant-value in $color-value {
            @if ( $color-variant == 'base') {
                .#{$color-name} {
                color: $color-variant-value !important;
                background-color: $color-variant-value !important;
                }
            } @else {
                .#{$color-name}-#{$color-variant} {
                    color: $color-variant-value !important;
                    background-color: $color-variant-value !important;
                }
            }
        }
    }
}

