// Global settings
// - - - - - - - - - - - - - - - - - - - - - - - - -

$rem-base: 16px;

$font-family-sans-serif: Helvetica;
$font-family-serif: Georgia;
$font-family-monospace: Courier;

// Use these to control various global styles
$body-font-family: Helvetica;
$body-primary: color('black');
$body-secondary: transparentize($body-primary, 0.5);
$body-hint: transparentize($body-primary, 0.7);
$body-accent: color(accent-color, darker);


$font-size-small : 0.80rem;
$font-size-large: 1.2rem;

// headers
$header-font-family: Montserrat;
$header-primary: color(primary-color);
$header-secondary: $body-primary;

$h1-font-size: 2.75rem;
$h2-font-size: 2.3rem;
$h3-font-size: 1.7rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;

// - - - - - - - - - - - - - - - - - - - - - - - - -
// Sketch setup
// - - - - - - - - - - - - - - - - - - - - - - - - -

*, body, [name~="p"], .body-text {
    font-size: $rem-base;
    color: $body-primary;
    font-family: $body-font-family;
    letter-spacing: auto;
}

.body-primary{
    @extend .body-text;
    background-color: $body-primary !important;
}

.body-secondary {
    font-size: $rem-base;
    color: $body-secondary;
    font-family: $body-font-family;
    color: $body-secondary !important;
    background-color: $body-secondary !important;
}

.body-accent {
    color: $body-accent !important;
    background-color: $body-accent !important;
}

.body-hint, .body-disabled {
    color: $body-hint;
    background-color: $body-hint;
}

.body-link {
    @extend .body-primary;
    color: color(accent-color);
}

.body-caption {
    font-size: 0.90rem;
}

.body-caption-link {
    @extend .body-caption;
    color: color(accent-color);
}

.body-feature {
    font-size: $font-size-large;
    color: $body-primary;
}

small, [name~="small"], .body-small {
    font-size: $font-size-small;
}

[name~="h1"],
[name~="h2"],
[name~="h3"],
[name~="h4"],
[name~="h5"],
[name~="h6"] {
    font-family: $header-font-family;
}

[name~="h1"] {
    font-size: $h1-font-size;
    color: $header-primary;
}

[name~="h2"] {
    font-size: $h2-font-size;
    color: $header-secondary;
}

[name~="h3"] {
    font-size: $h3-font-size;
    color: $header-secondary;
}

[name~="h4"] {
    font-size: $h4-font-size;
    color: $header-secondary;
}

[name~="h5"] {
    font-size: $h5-font-size;
    color: $header-secondary;
}

[name~="h6"] {
    font-size: $h6-font-size;
    color: $body-primary;
    text-transform: uppercase;
}


.header-primary{
    color: $header-primary;
    background-color: $header-primary;
}

.header-secondary{
    color: $header-secondary;
    background-color: $header-secondary;
}

