// Global settings
// - - - - - - - - - - - - - - - - - - - - - - - - -

$rem-base: 16px;

$font-family-sans-serif: Helvetica;
$font-family-serif: Georgia;
$font-family-monospace: Courier;

// Use these to control various global styles
$body-font-family: Helvetica;
$body-primary-color: color('black');
$body-secondary-color: color(medium-gray);
$body-accent-color: color(secondary-accent, darker);


// headers
$header-font-family: Montserrat;
$h1-font-size: 2.75rem;
$h2-font-size: 2.3rem;
$h3-font-size: 1.7rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;

// - - - - - - - - - - - - - - - - - - - - - - - - -
// Sketch setup
// - - - - - - - - - - - - - - - - - - - - - - - - -

* {
    font-size: $rem-base;
    color: $body-primary-color;
    font-family: $body-font-family;
}

[name~="h1"],
[name~="h2"],
[name~="h3"],
[name~="h4"],
[name~="h5"],
[name~="h6"] {
    font-family: $header-font-family;
}

[name~="h1"] {
    font-size: $h1-font-size;
    color: color(primary-color, darker);
}

[name~="h2"] {
    font-size: $h2-font-size;
    color: color(primary-color, darker);
}

[name~="h3"] {
    font-size: $h3-font-size;
    color: color(tertiary-color, darker);
}

[name~="h4"] {
    font-size: $h4-font-size;
    color: $body-primary-color;
}

[name~="h5"] {
    font-size: $h5-font-size;
    color: $body-primary-color;
}

[name~="h6"] {
    font-size: $h6-font-size;
    color: $body-primary-color;
    text-transform: uppercase;
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// Utility classes
// - - - - - - - - - - - - - - - - - - - - - - - - -

.body-primary {
    color: $body-primary-color !important;
    background-color: $body-primary-color !important;
}
.body-secondary {
    color: $body-secondary-color !important;
    background-color: $body-secondary-color !important;
}
.body-accent {
    color: $body-accent-color !important;
    background-color: $body-accent-color !important;
}
