// Global settings
// - - - - - - - - - - - - - - - - - - - - - - - - -

$rem-base: 16px;

$font-family-sans-serif: Helvetica;
$font-family-serif: Georgia;
$font-family-monospace: Courier;

// We use these to define default font weights
$font-weight-normal: normal;
$font-weight-bold: bold;

// Use these to control various global styles
$body-bg: $dark-gray;
$body-font-color: $dark-gray;
$body-font-family: $font-family-sans-serif;
$body-font-style: normal;

// headers
$header-font-family: Montserrat;
$h1-font-size: 2.75rem;
$h2-font-size: 2.3rem;
$h3-font-size: 1.7rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.125rem;
$h6-font-size: 1rem;

// - - - - - - - - - - - - - - - - - - - - - - - - -
// Sketch setup
// - - - - - - - - - - - - - - - - - - - - - - - - -


* {
    font-size: $rem-base;
    color: $body-font-color;
    font-family: $body-font-family;
    font-style: $body-font-style;
}

[type="artboard"] {
    background-color: $body-bg;
}

[name~="h1"],
[name~="h2"],
[name~="h3"],
[name~="h4"],
[name~="h5"],
[name~="h6"] {
    font-family: $header-font-family;
}

[name~="h1"] {
    font-size: $h1-font-size;
    color: $primary-color;
}

[name~="h2"] {
    font-size: $h2-font-size;
    color: $primary-color;
}

[name~="h3"] {
    font-size: $h3-font-size;
    color: $primary-color;
}

[name~="h4"] {
    font-size: $h4-font-size;
    color: $body-font-color;
}

[name~="h5"] {
    font-size: $h5-font-size;
    color: $body-font-color;
}

[name~="h6"] {
    font-size: $h6-font-size;
    color: $body-font-color;
    text-transform: uppercase;
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// Utility classes
// - - - - - - - - - - - - - - - - - - - - - - - - -

