// retrieve color from $colors by calling `color(base, primary)`
// color variant is optional
@function color($color-name, $color-variant:null) {
    @if ($color-variant != null) {
        @return map-get(map-get($colors, $color-name), $color-variant);
    } @else {
        @if (type-of( map-get($colors, $color-name)) == color) {
            @return map-get($colors, $color-name);
        } @else {
            @return map-get(map-get($colors, $color-name),'base');
        }
    }
}

@mixin reset {
  position: relative;
  left: 0;
  top: 0;
}

// Yosemite & older support
@mixin flexbox {
    display: -webkit-flex;
    display: flex;
}

// Yosemite & older support
@mixin display-flex {
    display: -webkit-flex;
    display: flex;
}

// Yosemite & older support
@mixin display-inline-flex {
    display: -webkit-inline-flex;
    display: inline-flex;
}

// Yosemite & older support
@mixin flex-direction($direction: row) {
    -webkit-flex-direction: $direction;
    flex-direction: $direction;
}

